.default section.window-content {
    padding: 0;
    overflow: hidden;
}

$header-height: 89px;   /* Adjust height of the header */

.actor.sheet {
    &.character .crb-style {
        @import "character";
    }

    &.vehicle .crb-style {
        @import "vehicle";
    }

    .crb-style {
        display: grid;
        grid:
            "sidebar header" 75px
                             "sidebar nav" minmax(min-content, max-content)
                             "sidebar content" 1fr
                             / 230px 1fr;

        font-family: var(--body-serif);

        background: url("../assets/sheet/header.webp"), url("../assets/sheet/background.webp");
        background-repeat: repeat-x, no-repeat;
        background-size: auto $header-height, cover;
        background-attachment: local;
        height: 100%;

        @import "sidebar", "header";

        $window-p-right: 20px;

        .char-header {
            grid-area: header;
            margin-right: $window-p-right;
        }

        .sheet-navigation {
            grid-area: nav;
            margin-left: -2px;
        }

        .sheet-body {
            grid-area: content;
            position: relative;

            ol {
                list-style: none;
            }

            .sheet-content,
            .sheet-content .inventory {
                position: absolute;
                top: 0;
                left: 0;
                bottom: 0;
                display: flex;
                flex-direction: column;
                width: 100%;
                padding-top: 6px;
                padding-left: 8px;

                & > .tab:not(.inventory),
                .inventory .inventory-list {
                    @include scrollbar;
                    flex-grow: 1;
                    min-height: 0;
                    overflow: hidden scroll;
                    padding-right: $window-p-right;
                }

                &.tab[data-tab] {
                    display: none;
                    &.active {
                        display: initial;
                    }
                }
            }

            .sheet-content {
                color: var(--body);
                @import "spell-list";

                ol.directory-list {
                    > h3, > li > h3 {
                        font-size: 1rem;
                        font-weight: 500;
                        font-family: var(--serif);
                        line-height: 1;
                        color: white;
                        @include p-reset;
                        margin-left: 8px;
                    }

                    .action-header {
                        align-items: center;
                        border: none;
                        display: flex;
                        flex-wrap: nowrap;
                        height: 32px;
                        justify-content: space-between;
                        margin-left: 0;
                        margin-top: 8px;
                        padding-bottom: 2px;
                        padding: 0;
                        position: relative;

                        h3 {
                            color: white;
                            flex: 1 1 100%;
                        }

                        .item-controls {
                            color: var(--primary);
                            font-size: 12px;
                            flex: 1 0 auto;
                            a + a {
                                margin-left: 4px;
                            }
                        }

                        &:first-child {
                            margin-top: 0;
                        }

                        & + li {
                            border-top: none;
                        }
                    }
                }

                .tab.actions {
                    @import "tabs/actions";
                }

                .tab.inventory {
                    @import "tabs/inventory";
                }

                .tab.biography {
                    @import "tabs/bio";
                }

                footer {
                    @include micro;
                    color: var(--primary);
                    text-align: right;
                    line-height: 1.4;
                    margin: 1em 1em 0;
                }
            }
        }

        /* Navigation */
        @import "nav";

        /* Page structure elements */
        .stroke-header {
            position: relative;

            svg {
                position: absolute;
                fill: var(--primary);
            }

            h3 {
                position: relative;
            }
        }

        /* Read-Only Sheet */
        &.limited {
            @import "limited";
        }

        input {
            &.adjusted:not(:focus) {
                font-weight: 700;
                color: $adjusted-higher;
            }
        }

        button.tag:disabled {
            cursor: not-allowed;
            background-color: var(--color-text-dark-inactive);
        }
    }
}

// Spellcasting Preparation Sheet Styling
.spellcasting-entry.sheet {
    @import "spell-list";

    form {
        display: flex;
        flex-direction: column;
        height: 100%;
        padding: 4px;
    }

    .sheet-header {
        align-items: baseline;
        display: flex;
        flex: 0;
        padding-right: 16px;
        h1 {
            white-space: nowrap;
            flex: 1;
            overflow: hidden;
            font-family: var(--serif-condensed);
            font-weight: 700;
        }
        .item-controls {
            flex: 0;
            white-space: nowrap;
        }
    }

    .sheet-content {
        @include scrollbar;
        padding-bottom: 1em;
        padding-right: 8px; // easier resize gripping
    }
}

@import "coinage";

/* Actor-type Imports */
@import "familiar";

@import "hazard";

.npc {
    @import "spell-list";
    @import "npc";
}

@import "loot";

/* Mystification data revealed to GMs */
.gm-mystified-data {
    opacity: 0.75;
}
