ol.spell-list {
    @include p-reset;
    flex-basis: 100%;
    gap: 1px;
    position: relative;
    width: 100%;
    z-index: 1;

    > li {
        @include p-reset;
        align-items: center;
        background: none;
        cursor: default;
        display: grid;
        grid: "name range components cast-spell controls" auto
              "content content content content content" auto
              / 8fr 3fr 3fr 2fr 2fr;
        justify-content: center;
        padding: 0 0.3em 1px 0.35em;

        &[data-expended-state="true"] {
            h4 {
                color: var(--color-disabled);
                text-decoration: line-through;
            }

            .item-toggle-prepare {
                color: var(--color-disabled);
            }

            .cast-spell {
                background: var(--color-disabled);
                box-shadow: inset 0 0 0 1px rgba(white, 0.5);
            }
        }

        &:nth-child(odd) {
            background-color: rgba($alt-color, 0.1);
        }

        &:last-child {
            border-bottom: 1px solid var(--sub);
            .item-image {
                margin-bottom: 0;
                margin-top: 2px;
            }
        }

        &.spell-level-header {
            @include p-reset;
            background: rgba($sub-color, 0.25);
            border: 1px solid var(--color-border-light-2);
            border-radius: 2px;
            color: var(--body);
            font: 700 0.6rem var(--sans-serif);
            letter-spacing: 0.25px;
            line-height: 1;
            padding: 0 0.5em;
            text-transform: uppercase;

            h3 {
                text-transform: capitalize;
                font-size: 0.75rem;
                margin-left: 0;
                padding: 4px 0;
            }

            .item-name {
                line-height: 1;
                gap: 0.25em;
                h3 {
                    @include p-reset;
                }
            }

            .item-controls {
                grid-column: span 2;
            }
        }

        .uses {
            align-items: center;
            display: flex;
            gap: 0.25em;
            line-height: 1;
        }

        &.spell-level-header, .uses {
            input {
                height: 14px;
                background: var(--alt);
                color: white;
                text-align: center;
                border-radius: 3px;
                border: 1px solid var(--sub);
                font-size: 11px;
                width: 22px;
                padding-top: 2px;
            }

            .spell-slots-increment-reset {
                padding-left: 5px;
                font-size: 10px;
            }
        }

        &.spell {
            border: none;
            font-size: 13px;
        }

        .level-prepared-toggle {
            flex: 0;
            font-size: 0.75rem;
            color: var(--secondary);
        }

        .item-name {
            align-items: center;
            display: flex;
            flex-wrap: nowrap;
            justify-content: start;
            justify-self: start;
            min-height: 1.75rem;

            h3 {
                white-space: nowrap;
            }

            + span {
                font-size: 0.75rem;
            }

            .focus-pool-input {
                align-items: center;
                display: flex;
                flex-wrap: nowrap;
            }

            .slash {
                font-size: 0.75rem;
            }

            .spell-slots,
            .spell-max {
                padding-top: 3px;
                font-size: 0.75rem;

                &.infinity {
                    position: relative;
                    top: -2px;
                }
            }

            .item-image {
                @include frame-icon;
                position: relative;
                height: 1.5rem;
                width: 1.5rem;
                margin: 2px 0;
                border-radius: 0;
                cursor: pointer;

                .item-icon {
                    max-width: 23px;
                }

                &:hover {
                    background: #f1eee9;
                    background-size: contain;
                    padding: 11px;
                    &::before {
                        content: "\f27a";
                        font-family: "Font Awesome 5 Free";
                        font-weight: 900;
                        font-size: 16px;
                        color: black;
                        position: absolute;
                        top: 0;
                        bottom: 0;
                        left: 0;
                        right: 0;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                    }
                    img {
                        display: none;
                    }
                }
            }

            h4 {
                @include p-reset;
                margin-left: 8px;
                line-height: 1;
                letter-spacing: -0.075em;
                &:hover {
                    color: var(--secondary);
                }
            }

            .activity-icon {
                margin-left: 4px;
            }

            &.empty {
                grid-column: 1 / span 4;
            }
        }

        .spell-range {
            grid-area: range;
            font-weight: 500;
        }

        .spell-components {
            grid-area: components;
            justify-self: right;
            padding: 0 0.5em;

            .tag {
                font: 11px var(--sans-serif-condensed);
            }
        }

        .item-controls {
            grid-area: controls;
            display: flex;
            gap: 0.3em;
            justify-self: end;
            padding-right: 0.25em;
        }

        button.cast-spell {
            align-items: center;
            background: var(--secondary);
            border-radius: 2px;
            border: black;
            box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.5);
            color: white;
            cursor: pointer;
            display: flex;
            font: 700 0.55rem var(--sans-serif);
            justify-self: center;
            letter-spacing: 0.25px;
            max-width: fit-content;
            padding: 0.5em 1em;
            text-transform: uppercase;
        }

        .item-summary {
            grid-area: content;
            width: 100%;
            padding: 8px;
            border-bottom: 1px solid var(--sub);
            border-top: 1px solid lighten($sub-color, 30);
            background-color: var(--bg);

            p {
                margin-top: 0;
            }
            .item-buttons {
                button {
                    @include p-reset;
                    padding: 0 8px;
                    font-family: var(--serif);
                    font-weight: 500;
                    margin-top: 8px;
                    background-color: var(--primary);
                    color: white;
                    border: none;
                    box-shadow: inset 0 0 0 1px rgba(black, 0.5);
                    border-top: 1px solid lighten($primary-color, 50);
                    border-bottom: 1px solid darken($primary-color, 40);
                    cursor: pointer;
                    &:hover {
                        text-shadow: 0 0 2px white;
                    }
                }
            }
        }
    }

    &[data-casting-type="spontaneous"] {
        .virtual {
            position: relative;
            &::before {
                pointer-events: none;
                content: '';
                position: absolute;
                height: 100%;
                width: 100%;
                background-color: #0005ff1d;
                mix-blend-mode: saturation;
            }
        }

        .item:not(.virtual) + .virtual {
            border-top: 1px solid rgba(0, 0, 0, 0.15);
        }
    }

    .focus-points {
        cursor: pointer;
        display: flex;
        font-size: 1.5em;
        padding: 4px 4px;

        i {
            padding-right: 1px;
        }
    }

    .level-prepared-header {
        font-size: 0.75rem;
        color: white;
        margin: 0;
        padding: 4px;
        text-align: center;
        background: var(--secondary);
        position: relative;

        .flexible-available {
            font-size: 11px;
            position: absolute;
            right: 6px;
            top: 50%;
            transform: translateY(-50%);
        }
    }

    .spell {
        .item-name {
            // Fill grid area for easier drag drop
            width: 100%;
        }
    }

    input.toggle-signature-spell[type="checkbox"] {
        width: 12px;
        height: 12px;
        margin: 0 2px 0 0;
        flex: 0 0 auto;
    }

    .spellbook-empty {
        display: flex;
        align-items: center;
        min-height: 28px;
        justify-content: flex-end;
        h4 {
            margin: 0;
            white-space: nowrap;
            margin-right: auto;
        }
        a {
            flex: 0 1 0;
            white-space: nowrap;
            margin-left: 8px;
        }
    }
}
