.pf2e.actor.loot {

    @import "inventory";

    .inventory-list .item .item-controls a.item-toggle-equip,
    .pf2e.actor .item.action-header .item-controls a.item-toggle-equip {
        display: none;
    }

    .sheet-header {
        h1.charname {
            padding-left: 0.5em;
        }
        .traits-bar {
            flex: 0 0 auto;
            margin-left: auto;
            align-self: center;
            font-size: 1.25em;
            margin-right: 0.5em;

            > .trait {
                padding: 0.1em 0.4em;
            }
        }

        .currency {
            margin-bottom: 8px;
        }
    }

    section.sidebar {
        float: left;
        display: flex;
        flex-direction: column;
        width: 200px;
        height: calc(100% - 48px);

        > * {
            flex: 0;
        }

        > img.actor-icon {
            flex: none;
            border: none;
            border-bottom: 1px solid var(--primary-background);
        }
        > .editor, .description {
            flex-basis: auto;
            min-height: 40px;
            margin-top: 4px;
        }

        > .editor {
            > .tox-tinymce {
                height: auto !important; // override inline tinymc styling
                .tox-edit-area {
                    min-height: 120px;
                }
            }
        }

        > .loot-distribution {
            @include button;
            width: calc(100% - 6px);
            background-color: var(--tertiary);
        }
        section.gm-settings {
            margin: 0;

            h4 {
                display: flex;
                align-items: center;
                margin: 0.5em 0 0.25em;

                &.sheet-type {
                    i.fas {
                        padding: 0 2px;
                    }
                }

                > select, input {
                    margin-left: auto;
                    margin-right: 0.5em;
                }

                > span.eye {
                    padding-left: 0.25em;
                }
            }
        }
    }

    .sheet-body {
        height: calc(100% - 48px);
    }
}

.loot-actor-popup {
    .confirm-button {
        @include button;
        width: calc(100% - 6px);
        background-color: var(--tertiary);
    }

    .checkboxes {
        label {
            display: block;
            padding-right: 10px;
            padding-left: 22px;
            text-indent: -22px;
        }
        input {
            vertical-align: middle;
        }
        label span {
            vertical-align: middle;
        }
    }
}
