<form class="{{cssClass}}{{#if editing}} editing{{/if}}" autocomplete="off">
    {{> systems/pf2e/templates/actors/hazard/partials/header.html}}
    <div class="container">
        <section class="sidebar">
            <div>
                <div class="sidebar-title">
                    <h2>{{localize "PF2E.DefensesLabel"}}</h2>
                </div>
                <div class="health-line">
                    <div class="health valued-icon">
                        <i class="fas fa-heart"></i>
                        <input name="data.attributes.hp.value" class="current" type="number" value="{{data.attributes.hp.value}}" data-dtype="Number" placeholder="0" />
                        /
                        <input name="data.attributes.hp.max" class="max" type="number" {{#unless editing}}disabled{{/unless}} value="{{data.attributes.hp.max}}" data-dtype="Number" placeholder="0" />
                    </div>
                    <div class="armor-class valued-icon">
                        <input name="data.attributes.hardness" type="number" {{#unless editing}}disabled{{/unless}} value="{{data.attributes.hardness}}" data-dtype="Number" placeholder="0" />
                        H
                    </div>
                    <div class="armor-class valued-icon">
                        <input name="data.attributes.ac.value" type="number" {{#unless editing}}disabled{{/unless}} value="{{data.attributes.ac.value}}" data-dtype="Number" placeholder="0" />
                        AC
                    </div>
                </div>
                {{#if editing}}
                    <input class="hp-details" name="data.attributes.hp.details" type="text" value="{{data.attributes.hp.details}}" placeholder="{{localize 'PF2E.NPC.HPExtraInfoLabelPlaceholder'}}"/>
                {{else if hasHPDetails}}
                    <div class="hp-details">{{{data.attributes.hp.details}}}</div>
                {{/if}}
            </div>

            {{#if document.isComplex}}
            <div>
                <div class="sidebar-title">
                    <h2>{{localize "PF2E.InitiativeLabel"}}</h2>
                </div>
                <div>
                    <div class="initiative">
                        <div class="{{#unless editing}}roll-init{{/unless}} valued-icon">
                            <i class="fas fa-dice-d20 roll-init"></i>
                            {{#if editing}}
                                <input type="text" value="{{numberFormat data.attributes.stealth.value decimals=0 sign=true}}" data-property="data.attributes.stealth.value" data-dtype="Number" placeholder="N/A" />
                            {{else}}
                                <span>{{numberFormat data.attributes.stealth.value decimals=0 sign=true}}</span>
                            {{/if}}
                        </div>
                        <h4 class="attribute-name">{{localize "PF2E.StealthLabel"}}</h4>
                    </div>
                </div>
            </div>
            {{/if}}

            {{#if (or hasSaves editing)}}
            <div>
                <div class="sidebar-title">
                    <h2>{{localize "PF2E.SavesHeader"}}</h2>
                </div>
                <div class="sidebar-saves">
                    {{#each saves as |save|}}
                        <div class="save">
                            <h2 class="sidebar_label">{{localize save.label}}</h2>

                            {{#if @root.editing}}
                                <span class="valued-icon">
                                    {{#unless (isNullish save.mod)}}
                                        <i class="fas fa-dice-d20 save-name" data-save="{{save.type}}"></i>
                                    {{/unless}}
                                    <input type="text" value="{{#unless (isNullish save.mod)}}{{numberFormat save.mod decimals=0 sign=true}}{{/unless}}" data-property="data.saves.{{save.type}}.value" data-dtype="Number" placeholder="N/A" />
                                </span>
                            {{else}}
                                <span class="valued-icon save-name" data-save="{{save.type}}">
                                    <i class="fas fa-dice-d20"></i>
                                    <span>{{numberFormat save.mod decimals=0 sign=true}}</span>
                                </span>
                            {{/if}}
                        </div>
                    {{/each}}
                </div>
            </div>
            {{/if}}

            <div>
                <div class="sidebar-title">
                    <h2>{{localize "PF2E.ImmunitiesLabel"}}</h2>
                    <a class="trait-selector" data-trait-selector="basic" data-title="PF2E.ImmunitiesLabel" data-config-types="immunityTypes" data-property="data.traits.di"><i class="fas fa-edit"></i></a>
                </div>
                <div class="tags">
                    {{#each immunities as |immunity slug|}}
                        <span class="tag" data-slug="{{slug}}">{{localize immunity.label}}</span>
                    {{/each}}
                </div>
            </div>
            <div>
                <div class="sidebar-title">
                    <h2>{{localize "PF2E.WeaknessesLabel"}}</h2>
                    <a class="trait-selector" data-trait-selector="weaknesses"><i class="fas fa-edit"></i></a>
                </div>
                <div class="tags">
                    {{#each data.traits.dv as |weakness|}}
                        <span class="tag" data-slug="weakness.type">{{localize weakness.label}} {{weakness.value}}</span>
                    {{/each}}
                </div>
            </div>
            <div>
                <div class="sidebar-title">
                    <h2>{{localize "PF2E.ResistancesLabel"}}</h2>
                    <a class="trait-selector" data-trait-selector="resistances"><i class="fas fa-edit"></i></a>
                </div>
                <div class="tags">
                    {{#each data.traits.dr as |resistance|}}
                        <span class="tag" data-slug="resistance.type">{{localize resistance.label}} {{resistance.value}}</span>
                    {{/each}}
                </div>
            </div>
        </section>

        <!-- BODY -->
        <section class="content">
            {{#if (or hasStealthDescription editing)}}
            <div class="section-container">
                <div class="section-header">
                    <h3>{{localize "PF2E.StealthLabel"}}</h3>
                </div>
                <div class="section-body hazard-editor">
                    {{editor content=(enrichHTML data.attributes.stealth.details) target="data.attributes.stealth.details" button=true owner=owner editable=editable}}
                </div>
            </div>
            {{/if}}

            {{#if (or hasDescription editing)}}
            <div class="section-container">
                <div class="section-header">
                    <h3>{{localize "PF2E.HazardDescriptionLabel"}}</h3>
                </div>
                <div class="section-body hazard-editor">
                    {{editor content=(enrichHTML data.details.description) target="data.details.description" button=true owner=owner editable=editable}}
                </div>
            </div>
            {{/if}}

            {{#if (or hasDisable editing)}}
            <div class="section-container">
                <div class="section-header">
                    <h3>{{localize "PF2E.HazardDisableLabel"}}</h3>
                </div>
                <div class="section-body hazard-editor">
                    {{editor content=(enrichHTML data.details.disable) target="data.details.disable" button=true owner=owner editable=editable}}
                </div>
            </div>
            {{/if}}

            {{#if (or hasRoutineDetails editing)}}
            <div class="section-container">
                <div class="section-header">
                    <h3>{{localize "PF2E.HazardRoutineLabel"}}</h3>
                </div>
                <div class="section-body hazard-editor">
                    {{editor content=(enrichHTML data.details.routine) target="data.details.routine" button=true owner=owner editable=editable}}
                </div>
            </div>
            {{/if}}

            {{#if (or hasResetDetails editing)}}
            <div class="section-container">
                <div class="section-header">
                    <h3>{{localize "PF2E.HazardResetLabel"}}</h3>
                </div>
                <div class="section-body hazard-editor">
                    {{editor content=(enrichHTML data.details.reset) target="data.details.reset" button=true owner=owner editable=editable}}
                </div>
            </div>
            {{/if}}

            <div class="section-container">
                <div class="section-header">
                    <h3>Actions</h3>
                    {{#if owner}}
                    <div class="controls">
                        <a class="item-create" title="{{localize "PF2E.CreateActionTitle"}}" data-type="action" data-action-type="action"><i class="fas fa-plus"></i> {{localize "ITEM.TypeAction"}}</a>
                        <a class="attack-add item-create" data-type="melee" data-action-type="melee"><i class="fas fa-plus"></i> {{localize "PF2E.NPCAttackMelee"}}</a>
                        <a class="attack-add item-create" data-type="melee" data-action-type="ranged"><i class="fas fa-plus"></i> {{localize "PF2E.NPCAttackRanged"}}</a>
                    </div>
                    {{/if}}
                </div>

                <div class="section-body">
                    <ol class="actions-list attacks-list item-list">
                        <!-- List Actions -->
                        {{#each actions as |section sid|}}
                            {{#each section.actions as |action aid|}}
                            <li class="item action flexrow" data-item-id="{{action.id}}">
                                <div class="action-header">
                                    <div class="action-name rollable">
                                        <h4>{{action.name}}</h4> {{{actionGlyph action.actionCost}}}
                                    </div>
                                    {{#if ../../owner}}
                                    <div class="item-controls">
                                        {{#if @root.editing}}
                                            <a class="item-control item-edit" title="{{localize "PF2E.EditItemTitle"}}"><i class="fas fa-edit"></i></a>
                                            <a class="item-control item-delete" title="{{localize "PF2E.DeleteItemTitle"}}"><i class="fas fa-trash"></i></a>
                                        {{/if}}
                                    </div>
                                    {{/if}}
                                </div>
                            </li>
                            {{/each}}
                        {{/each}}
                        <!-- List Attacks -->
                        {{#each actor.attacks as |section sid|}}
                            {{#each section.items as |action actionId|}}
                                <li class="item attack flexrow" data-action-index="{{actionId}}" data-item-name="{{action.name}}" data-item-id="{{action._id}}">
                                    <div class="attack-header">
                                        <h4 class="attack-name tags">
                                            <span>
                                                <strong>{{localize action.attackRollType}}</strong>
                                                <span class="activity-icon">{{{actionGlyph 1}}}</span>
                                                {{action.name}}
                                            </span>
                                            {{#each traits as |trait|}}
                                                <div class="tag tag_transparent" title="{{localize trait.description}}">{{localize trait.label}}</div>
                                            {{/each}}
                                            {{#each action.additionalEffects as |effect|}}
                                                <div class="tag tag_transparent" data-tag="{{effect.tag}}">{{localize effect.label}}</div>
                                            {{/each}}
                                        </h4>
                                        <div class="attack-controls controls">
                                            {{#if @root.editing}}
                                                <a class="item-edit edit" title="{{localize "PF2E.NPC.Edit"}}"><i class="fas fa-edit"></i></a>
                                                <a class="item-delete delete" title="{{localize "PF2E.NPC.Remove"}}"><i class="fas fa-trash"></i></a>
                                            {{/if}}
                                        </div>
                                    </div>
                                    <div class="attack-body">
                                        <div class="flexrow">
                                            <div class="attacks sub-section">
                                                <button type="button" class="btn attack-button" data-action="npcAttack" >Strike (+{{action.data.bonus.total}})</button>
                                                <button type="button" class="btn attack-button" data-action="npcAttack2" >{{#unless action.data.isAgile}}-5{{else}}-4{{/unless}}</button>
                                                <button type="button" class="btn attack-button" data-action="npcAttack3" >{{#unless action.data.isAgile}}-10{{else}}-8{{/unless}}</button>
                                            </div>
                                            <div class="damage sub-section">
                                                <button type="button" class="damage-button" data-action="npcDamage">
                                                    {{localize "PF2E.DamageLabel"}} (
                                                        {{#if action.data.damageRolls}}
                                                            {{#each action.data.damageRolls as |dmg index|}}
                                                                {{dmg.damage}} {{dmg.damageType}}
                                                            {{/each}}
                                                        {{/if}}
                                                        )
                                                </button>
                                                <button class="critical-button" data-action="npcDamageCritical">{{localize "PF2E.CriticalDamageLabel"}}</button>
                                            </div>
                                        </div>
                                        <div class="attack-detail sub-section expandable expanded">
                                            <div class="attack-description">
                                                {{{enrichHTML action.description}}}
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            {{/each}}
                        {{/each}}
                    </ol>
                </div>
            </div>
        </section>
    </div>
</form>
